@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Color Variable */
:root {
  /* Ana Renk: Derin Orman Yeşili (Eski mavi yerlerine) */
  --color-primary: #2b2b2b;

  /* İkincil Ana Renk (Daha koyu alanlar için) */
  --color-primary-dark: #000000;

  /* Vurgu Rengi: Antik Altın (Butonlar, ikonlar, hoverlar) */
  --color-accent: #d4af37;

  /* Zemin Rengi: Fildişi / Kemik (Beyaz yerine) */
  --color-bg: #f4f4f2;

  /* Açık Gri Alanlar için (Bölüm ayrımları) */
  --color-gray-bg: #eaeded;

  /* Metin Rengi */
  --color-text: #0f2c28;
  --color-text-light: #676767;
}

/* Scrool gizleme */
::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  transition-duration: 1s;
}
